#wrap{
background-image: -ms-linear-gradient(top, #3b5998 0%, #3b5998 100%);
/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #3b5998 0%, #3b5998 100%);
/* Opera */ 
background-image: -o-linear-gradient(top, #3b5998 0%, #3b5998 100%);
/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #3b5998), color-stop(1, #3b5998));
/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #3b5998 0%, #3b5998 100%);
/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #3b5998 0%, #3b5998 100%);
background-repeat: no-repeat;
background-attachment: fixed;
}
legend{
	color:#141823;
	font-size:25px;
	font-weight:bold;
}


/* ------------------Body Background Color */ 
.acw{background-color:#3b5998}


/* ------------------FB Logo */ 
/* -------------------FB Logo */ 
/* --------------------FB Logo */ 

.fblogo { background : url(sflogo.png); }

.fblogo { width: 200px; height: 75px; background-image: (sflogo.png); }

.fblogo {
background-image: url(sflogo.png);
background-size: auto;
background-repeat: no-repeat;
display: inline-block;
}

/* ------------------Log In Button not signup-btn */ 
/* -------------------Log In Button not signup-btn */ 
/* --------------------Log In Button not signup-btn */ 
.signup-btn {
  background: #5877B8;
  background-image: -webkit-linear-gradient(top, #5877B8, #5877B8);
  background-image: -moz-linear-gradient(top, #5877B8, #5877B8);
  background-image: -ms-linear-gradient(top, #5877B8, #5877B8);
  background-image: -o-linear-gradient(top, #5877B8, #5877B8);
  background-image: linear-gradient(to bottom, #5877B8, #4267b2);
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  text-shadow: 0px 1px 0px #898a88;
  -webkit-box-shadow: 0px 0px 0px #a4e388;
  -moz-box-shadow: 0px 0px 0px #a4e388;
  box-shadow: 0px 0px 0px #a4e388;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #29487d  1px;
  text-decoration: none;
}

.signup-btn:hover {
  background: #5877B8;
  background-image: -webkit-linear-gradient(top, #5877B8, #5877B8);
  background-image: -moz-linear-gradient(top, #5877B8, #5877B8);
  background-image: -ms-linear-gradient(top, #5877B8, #5877B8);
  background-image: -o-linear-gradient(top, #5877B8, #5877B8);
  background-image: linear-gradient(to bottom, #5877B8, #4a65a0);
  text-decoration: none;
}
.navbar-default .navbar-brand{
		color:#fff;
		font-size:30px;
		font-weight:bold;
	}
.form .form-control { margin-bottom: 10px; }
@media (min-width:768px) {
	#home{
		margin-top:50px;
	}
	#home .slogan{
		color: #0e385f;
		line-height: 29px;
		font-weight:bold;
	}
}